# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
**/venv/
**/env/
**/ENV/
**/.venv/

# Distribution / packaging
**/build/
**/dist/
*.egg-info/
.eggs/

# Data files
**/data/raw/
*.csv

# Model artifacts
**/models/*.pkl
*.pkl

# Streamlit secrets
**/.streamlit/secrets.toml

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints
*.ipynb_checkpoints

# IDE
**/.vscode/
**/.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
**/logs/*.log
*.log

# Outputs
**/outputs/plots/*.png
**/outputs/plots/*.jpg
**/outputs/plots/*.svg
**/outputs/*.csv
